h1{
    color: slateblue;
}
*{
    border-width: 5cm  ;
    
}
p,h2{
text-align: center;

}
.header{
    background-color: lightpink;
display: flex;
justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;

}